.terminal-block {
  margin-left: 3.125vw;
  margin-right: 3.125vw;
  padding-bottom: 5.2083333333vw;
  margin-bottom: 6.7708333333vw;
  margin: 0 auto;

  // video {
  //   width: 100%;
  // }

  // &--buttons-container {
  //   width: 100%;

  //   position: absolute;
  // }
}