.main_projects {
    padding: vw(100) vw(60);
    &__title {
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: vw(60);
        line-height: 120%;
        color: #000000;
        margin-bottom: vw(100);
        max-width: vw(740);
        width: 100%;
    }
    &__block {
        position: relative;
        min-height: vw(700);
        max-height: vw(700);
        text-decoration: none;
        padding: vw(100) vw(80);
    }
    &__img {
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(0deg, rgba(20, 0, 220, 0.2), rgba(20, 0, 220, 0.2));
        }
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: #FF5F05;
            position: absolute;
            z-index: 2;
            opacity: 0;
            transition: all .3s ease-out;
            pointer-events: none;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
    &__info {
        position: relative;
        z-index: 2;
        pointer-events: none;
    }
    &__date {
        position: relative;
        padding-left: vw(30);
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: vw(25);
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: vw(20);
        &:before {
            top: 50%;
            left: 0;
            width: vw(10);
            height: vw(10);
            background: #fff;
            position: absolute;
            content: '';
            margin-top: vw(-5);
        }
    }
    &__tit {
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        font-size: vw(35);
        color: #FFFFFF;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: vw(60);
        .button {
            max-width: vw(313);
            width: 100%;
            text-align: left;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                width: vw(30);
                height: vw(30);
                background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2286 14.7668L19.5318 15.4668L7.22168 27.6986L8.51805 29.001L22.7781 14.6746L9.16624 0.999332L7.86987 2.30174L19.5318 14.0668L20.2286 14.7668Z' fill='white'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                top: 50%;
                right: vw(20);
                margin-top: vw(-15);
                transition: all .3s ease-out;
            }
            &:hover {
                &:before {
                    background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2286 14.7668L19.5318 15.4668L7.22168 27.6986L8.51805 29.001L22.7781 14.6746L9.16624 0.999332L7.86987 2.30174L19.5318 14.0668L20.2286 14.7668Z' fill='%231400DC'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                }
            }
        }
    }
    &__sliders {
        position: relative;
    }
    &__controls {
        width: 90px;
        margin-left: auto;
        position: absolute;
        top: vw(-130);
        right: 0;
    }
    &__more {
        background: none;
        padding: 0;
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: vw(20);
        line-height: 110%;
        color: #000000;
        position: relative;
        width: max-content;
        padding-right: vw(40);
        outline: none;
        cursor: pointer;
        border: 0;
        text-decoration: none;
        span {
            position: absolute;
            width: vw(30);
            height: vw(30);
            right: 0;
            top: 50%;
            margin-top: vw(-15);
            display: block;
            &:before {
                position: absolute;
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2287 14.7668L19.5319 15.4669L7.2218 27.6986L8.51817 29.001L22.7783 14.6746L9.16636 0.999338L7.86999 2.30174L19.5319 14.0668L20.2287 14.7668Z' fill='%231400DC'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                width: vw(30);
                height: vw(30);
                right: 0;
                top: 50%;
                margin-top: vw(-15);
                transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
                z-index: 2;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: #1400DC;
                z-index: 1;
                transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
                transform: scale(0.01);
                opacity: 0;
            }
        }
        &:hover {
            span {
                &:after {
                    transform: scale(1);
                    opacity: 1;
                }
                &:before {
                    transform: scale(0.5);
                    background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2287 14.7668L19.5319 15.4669L7.2218 27.6986L8.51817 29.001L22.7783 14.6746L9.16636 0.999338L7.86999 2.30174L19.5319 14.0668L20.2287 14.7668Z' fill='%23fff'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                }
            }
        }
        &--mob {
            display: none;
        }
    }
}
.isTablet, .isMobile {
    .main_projects {
        padding: 50px 15px;
        &__title {
            margin-bottom: 50px;
            font-size: 30px;
            max-width: 100%;
        }
        &__controls {
            position: unset;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            width: 100%;
        }
        &__more {
            display: none;
            &--mob {
                display: block;
                font-size: 20px;
                padding-right: 40px;
                span {
                    width: 30px;
                    height: 30px;
                    margin-top: -15px;  
                    &:before {
                        width: 30px;
                        height: 30px;
                        margin-top: -15px;
                    }
                }
            }
        }
        .glide {
            &__controls {
                width: 90px;
            }
        }
        &__block {
            padding: 20px;
            max-height: 300px;
            min-height: 300px;
        }
        &__date {
            font-size: 14px;
            padding-left: 17px;
            margin-bottom: 10px;
            &:before {
                width: 5px;
                height: 5px;
                margin-top: -2.5px;
            }
        }
        &__tit {
            font-size: 20px;
        }
        &__buttons {
            margin-top: 30px;
            .button {
                max-width: 257px;
                &:before {
                    width: 30px;
                    height: 30px;
                    margin-top: -15px;  
                    right: 10px;
                }
            }
        }
    }
}