.button {
    font-family: 'texgyreheros', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: vw(20);
    line-height: 110%;
    color: #FFFFFF;
    cursor: pointer;
    background: #1400DC;
    padding: vw(17) vw(20);
    border: 2px solid #1400DC;
    transition: all .3s ease-out;
    text-align: center;
    &:hover {
        background: #fff;
        color: #1400DC;
    }
    &__feedback {
        width: 100%;
    }
}
.isTablet, .isMobile {
    .button {
        display: inline-block;
        font-size: 18px;
        padding: 18px 27px;
    }
}