.menu_burger {
    &__icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__body {
        background: #FFFFFF;
        box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.5);
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transform: translateY(-150%);
        transition: all .3s ease-out;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 15px;
    }
    &__bottom {
        padding: 30px 45px 50px 45px;
        border-top: 1px solid #CFCFCF;
    }
    &__close {
        cursor: pointer;
        position: relative;
        svg {
            pointer-events: none;
            position: relative;
            z-index: 2;
            transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1400DC;
            z-index: 1;
            transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
            transform: scale(0.01);
        }
        &:hover, &:active {
            &:after {
                transform: scale(1);
            }
            svg {
                transform: scale(0.5);
                path {
                    fill: #fff;  
                }  
            }
        }
    }
    &__menu {
        li {
            a {
                display: block;
                text-decoration: none;
                font-family: 'PT', Helvetica, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 110%;
                color: #535353;
                margin-bottom: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__button {
        margin-top: 30px;
        .button__feedback {
            width: auto;
        }
    }
    &.isOpened {
        .menu_burger__body {
            transform: translateY(0%);
        }
    }
}