.main_red-block {
    &__title {
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: vw(60);
        line-height: 120%;
        color: #000000;
        margin-bottom: vw(100);
        padding-left: vw(60);
        padding-right: vw(60);
    }
    &__img {
        height: vw(900);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.isTablet, .isMobile {
    .main_red-block {
        padding-left: 15px;
        padding-right: 15px;
        &__title {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 30px;
            font-size: 30px;
        }
        &__img {
            height: 600px;
        }
    }
}