<div class="main_red-block" id="link3">
  <div class="main_red-block__title">Технологии</div>
  <div class="main_red-block-background"></div>
  <div
    class="main_red-block__img"
    :class="{loading: isLoading}"
    v-if="windowSize > 1024"
  >
    <div v-show="isLoading" class="terminal_logo">
      <img src="./img/terminal_logo.png" alt="terminal_logo" />
    </div>
    <video
      autoplay
      loop
      muted
      v-show="items[0].showVideo"
      :class="{videoLoading: isLoading}"
    >
      <source src="./files/technologies/VR_AR/desktop/desk0001-2000.mp4" />
    </video>
    <video
      autoplay
      loop
      muted
      v-show="items[1].showVideo"
      :class="{videoLoading: isLoading}"
    >
      <source
        src="./files/technologies/diagnostics/desktop/desk0001-2000.mp4"
      />
    </video>
    <video
      autoplay
      loop
      muted
      v-show="items[2].showVideo"
      :class="{videoLoading: isLoading}"
    >
      <source
        src="./files/technologies/infrostucture/desktop/desk0001-2000.mp4"
      />
    </video>
    <video
      autoplay
      loop
      muted
      v-show="items[3].showVideo"
      :class="{videoLoading: isLoading}"
    >
      <source src="./files/technologies/scanner/desktop/desk0001-2000.mp4" />
    </video>
    <video
      autoplay
      loop
      muted
      v-show="items[4].showVideo"
      :class="{videoLoading: isLoading}"
    >
      <source src="./files/technologies/drones/desktop/desk0001-2000.mp4" />
    </video>
    <video
      autoplay
      loop
      muted
      v-show="defaultVideo"
      :class="{videoLoading: isLoading}"
    >
      <source src="./files/technologies/general/desktop/desk0001-2000.mp4" />
    </video>
    <div class="main_red-block-clone" v-show="clonActive">
      <img src="./img/devices/mac_bg.png" alt="mac_bg" />
      <div class="main_red-block-clone__video">
        <video autoplay loop muted :class="{videoLoading: isLoading}">
          <source
            src="./files/technologies/general/desktop/desk0001-2000.mp4"
          />
        </video>
        <div
          class="main_red-block-clone__tab"
          :style="isLoading ?'z-index: 5': 'z-index: 15'"
        >
          <div class="main_red-block__img--tabs-item-header">
            Цифровые двойники <br />
            площадок
            <div
              class="main_red-block-clone__close"
              @click="closeCloneHandler"
            ></div>
          </div>
          <ul class="main_red-block__img--tabs-item-body">
            <li>
              <span></span>
              <p>
                Поддержка «What-If» сценариев для анализа необходимой площади
                объекта, количества и типа оборудования и систем хранения
              </p>
            </li>
            <li>
              <span></span>
              <p>Выбор оптимальных решений по прибыли, времени и ресурсам</p>
            </li>
            <li>
              <span></span>
              <p>Визуализация гипотез</p>
            </li>
            <li>
              <span></span>
              <p>Детальное воссоздание процессов и объектов склада в 3D и 2D</p>
            </li>
            <li>
              <span></span>
              <p>
                Поиск «узких мест» — выявление критичных зон, неэффективных
                процессов и предложения по решению существующих проблем
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button
      v-if="showCloneButton"
      class="button button__feedback main_red-block__img--back main_red-block__img--clone"
      @click="cloneHandler"
    >
      Цифровой двойник
    </button>
    <div
      class="main_red-block__img--button-container"
      :class="{
            hidden: !showPLus
          }"
    >
      <button
        v-for="item in items"
        :key="item.id"
        :style="{ left: item.left + '%', top: item.top + '%' }"
        :class="{
                  open: item.open,
                  'plus-btn': !item.open
                }"
        style="position: absolute"
        class="main_red-block-plus"
        @click="activeItems(item.id)"
      >
        <div v-if="!item.open" class="plus-open">+</div>
        <div v-if="item.open" class="main_red-block-plus-container">
          <span>{{ item.name }}</span>
          <div @click="showTabs(item)">
            <img src="./img/eye.png" alt="" />
          </div>
        </div>
      </button>
    </div>
    <div class="main_red-block__img--tabs" v-if="isTabsOpen">
      <div
        v-for="(item, ind) in tabs"
        :key="item.name"
        class="main_red-block__img--tabs-item"
        :class="{
                  open: item.open
                }"
        @click="activeTab(ind)"
      >
        <div class="main_red-block__img--tabs-item-header">
          {{ item.name }}
          <div v-if="!item.open">
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.035 1.93965L14.1145 1.93965L14.1145 6.91692C14.1145 10.8578 14.0941 11.8942 14.0259 11.8942C13.985 11.8942 11.5032 9.45328 8.52362 6.47374L3.10316 1.05328L2.47589 1.68056L1.8418 2.31465L7.29634 7.76919C10.2963 10.7692 12.7509 13.2578 12.7509 13.2919C12.7509 13.3396 11.0191 13.3601 7.72589 13.3601L2.69407 13.3601L2.67361 14.2669L2.65316 15.1669L8.84407 15.1669L15.0418 15.1669L15.4986 14.7033L15.9554 14.2396L15.9554 8.08965L15.9554 1.93965L15.035 1.93965Z"
                fill="#1400DC"
              />
            </svg>
          </div>
        </div>
        <ul class="main_red-block__img--tabs-item-body">
          <li v-for="listItem in item.list" :key="listItem">
            <span></span>
            <p>{{ listItem }}</p>
          </li>
        </ul>
      </div>

      <button
        v-if="tabs.length"
        class="button button__feedback main_red-block__img--tabs-back"
        @click="clearTabsRool()"
      >
        Вернуться назад
      </button>
    </div>
  </div>
  <div v-else class="main_red-block__slider main_red-glide-js">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides">
        <li>
          <!-- VR_AR -->
          <div class="main_red-block__img">
            <div class="main_red-block__top">
              <div class="main_red-block__name">{{this.items[0].name}}</div>
            </div>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_album'"
            >
              <source
                src="./files/technologies/VR_AR/planshet_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_book'"
            >
              <source
                src="./files/technologies/VR_AR/planshet_book/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_album'"
            >
              <source
                src="./files/technologies/VR_AR/mobile_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_book'"
            >
              <source
                src="./files/technologies/VR_AR/mobile_book/mobile0001-2000.mp4"
              />
            </video>
            <div class="main_red-block__img--tabs">
              <div
                class="main_red-block__img--tabs-item"
                v-for="tab in items[0].tabs"
              >
                <div class="main_red-block__img--tabs-item-header">
                  {{tab.name}}
                  <div>
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15.035 1.93965L14.1145 1.93965L14.1145 6.91692C14.1145 10.8578 14.0941 11.8942 14.0259 11.8942C13.985 11.8942 11.5032 9.45328 8.52362 6.47374L3.10316 1.05328L2.47589 1.68056L1.8418 2.31465L7.29634 7.76919C10.2963 10.7692 12.7509 13.2578 12.7509 13.2919C12.7509 13.3396 11.0191 13.3601 7.72589 13.3601L2.69407 13.3601L2.67361 14.2669L2.65316 15.1669L8.84407 15.1669L15.0418 15.1669L15.4986 14.7033L15.9554 14.2396L15.9554 8.08965L15.9554 1.93965L15.035 1.93965Z"
                        fill="#1400DC"
                      />
                    </svg>
                  </div>
                </div>
                <ul class="main_red-block__img--tabs-item-body">
                  <li v-for="listItem in tab.list" :key="listItem">
                    <span></span>
                    <p>{{ listItem }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <!-- diagnostics -->
          <div class="main_red-block__img">
            <div class="main_red-block__top">
              <div class="main_red-block__name">{{this.items[1].name}}</div>
            </div>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_album'"
            >
              <source
                src="./files/technologies/diagnostics/planshet_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_book'"
            >
              <source
                src="./files/technologies/diagnostics/planshet_book/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_album'"
            >
              <source
                src="./files/technologies/diagnostics/mobile_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_book'"
            >
              <source
                src="./files/technologies/diagnostics/mobile_book/mobile0001-2000.mp4"
              />
            </video>
            <div class="main_red-block__img--tabs">
              <div
                class="main_red-block__img--tabs-item"
                v-for="tab in items[1].tabs"
              >
                <div class="main_red-block__img--tabs-item-header">
                  {{tab.name}}
                  <div>
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15.035 1.93965L14.1145 1.93965L14.1145 6.91692C14.1145 10.8578 14.0941 11.8942 14.0259 11.8942C13.985 11.8942 11.5032 9.45328 8.52362 6.47374L3.10316 1.05328L2.47589 1.68056L1.8418 2.31465L7.29634 7.76919C10.2963 10.7692 12.7509 13.2578 12.7509 13.2919C12.7509 13.3396 11.0191 13.3601 7.72589 13.3601L2.69407 13.3601L2.67361 14.2669L2.65316 15.1669L8.84407 15.1669L15.0418 15.1669L15.4986 14.7033L15.9554 14.2396L15.9554 8.08965L15.9554 1.93965L15.035 1.93965Z"
                        fill="#1400DC"
                      />
                    </svg>
                  </div>
                </div>
                <ul class="main_red-block__img--tabs-item-body">
                  <li v-for="listItem in tab.list" :key="listItem">
                    <span></span>
                    <p>{{ listItem }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <!-- infrostucture -->
          <div class="main_red-block__img">
            <div class="main_red-block__top">
              <div class="main_red-block__name">{{this.items[2].name}}</div>
            </div>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_album'"
            >
              <source
                src="./files/technologies/infrostucture/planshet_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_book'"
            >
              <source
                src="./files/technologies/infrostucture/planshet_book/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_album'"
            >
              <source
                src="./files/technologies/infrostucture/mobile_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_book'"
            >
              <source
                src="./files/technologies/infrostucture/mobile_book/mobile0001-2000.mp4"
              />
            </video>
            <div class="main_red-block__img--tabs">
              <div
                class="main_red-block__img--tabs-item"
                v-for="tab in items[2].tabs"
              >
                <div class="main_red-block__img--tabs-item-header">
                  {{tab.name}}
                  <div>
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15.035 1.93965L14.1145 1.93965L14.1145 6.91692C14.1145 10.8578 14.0941 11.8942 14.0259 11.8942C13.985 11.8942 11.5032 9.45328 8.52362 6.47374L3.10316 1.05328L2.47589 1.68056L1.8418 2.31465L7.29634 7.76919C10.2963 10.7692 12.7509 13.2578 12.7509 13.2919C12.7509 13.3396 11.0191 13.3601 7.72589 13.3601L2.69407 13.3601L2.67361 14.2669L2.65316 15.1669L8.84407 15.1669L15.0418 15.1669L15.4986 14.7033L15.9554 14.2396L15.9554 8.08965L15.9554 1.93965L15.035 1.93965Z"
                        fill="#1400DC"
                      />
                    </svg>
                  </div>
                </div>
                <ul class="main_red-block__img--tabs-item-body">
                  <li v-for="listItem in tab.list" :key="listItem">
                    <span></span>
                    <p>{{ listItem }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <!-- scanner -->
          <div class="main_red-block__img">
            <div class="main_red-block__top">
              <div class="main_red-block__name">{{this.items[3].name}}</div>
            </div>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_album'"
            >
              <source
                src="./files/technologies/scanner/planshet_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_book'"
            >
              <source
                src="./files/technologies/scanner/planshet_book/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_album'"
            >
              <source
                src="./files/technologies/scanner/mobile_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_book'"
            >
              <source
                src="./files/technologies/scanner/mobile_book/mobile0001-2000.mp4"
              />
            </video>
            <div class="main_red-block__img--tabs">
              <div
                class="main_red-block__img--tabs-item"
                v-for="tab in items[3].tabs"
              >
                <div class="main_red-block__img--tabs-item-header">
                  {{tab.name}}
                  <div>
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15.035 1.93965L14.1145 1.93965L14.1145 6.91692C14.1145 10.8578 14.0941 11.8942 14.0259 11.8942C13.985 11.8942 11.5032 9.45328 8.52362 6.47374L3.10316 1.05328L2.47589 1.68056L1.8418 2.31465L7.29634 7.76919C10.2963 10.7692 12.7509 13.2578 12.7509 13.2919C12.7509 13.3396 11.0191 13.3601 7.72589 13.3601L2.69407 13.3601L2.67361 14.2669L2.65316 15.1669L8.84407 15.1669L15.0418 15.1669L15.4986 14.7033L15.9554 14.2396L15.9554 8.08965L15.9554 1.93965L15.035 1.93965Z"
                        fill="#1400DC"
                      />
                    </svg>
                  </div>
                </div>
                <ul class="main_red-block__img--tabs-item-body">
                  <li v-for="listItem in tab.list" :key="listItem">
                    <span></span>
                    <p>{{ listItem }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <!-- drones -->
          <div class="main_red-block__img">
            <div class="main_red-block__top">
              <div class="main_red-block__name">{{this.items[4].name}}</div>
            </div>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_album'"
            >
              <source
                src="./files/technologies/drones/planshet_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_book'"
            >
              <source
                src="./files/technologies/drones/planshet_book/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_album'"
            >
              <source
                src="./files/technologies/drones/mobile_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_book'"
            >
              <source
                src="./files/technologies/drones/mobile_book/mobile0001-2000.mp4"
              />
            </video>
            <div class="main_red-block__img--tabs">
              <div
                class="main_red-block__img--tabs-item"
                v-for="tab in items[4].tabs"
              >
                <div class="main_red-block__img--tabs-item-header">
                  {{tab.name}}
                  <div>
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15.035 1.93965L14.1145 1.93965L14.1145 6.91692C14.1145 10.8578 14.0941 11.8942 14.0259 11.8942C13.985 11.8942 11.5032 9.45328 8.52362 6.47374L3.10316 1.05328L2.47589 1.68056L1.8418 2.31465L7.29634 7.76919C10.2963 10.7692 12.7509 13.2578 12.7509 13.2919C12.7509 13.3396 11.0191 13.3601 7.72589 13.3601L2.69407 13.3601L2.67361 14.2669L2.65316 15.1669L8.84407 15.1669L15.0418 15.1669L15.4986 14.7033L15.9554 14.2396L15.9554 8.08965L15.9554 1.93965L15.035 1.93965Z"
                        fill="#1400DC"
                      />
                    </svg>
                  </div>
                </div>
                <ul class="main_red-block__img--tabs-item-body">
                  <li v-for="listItem in tab.list" :key="listItem">
                    <span></span>
                    <p>{{ listItem }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <!-- general -->
          <div class="main_red-block__img general-video">
            <img
              class="side_img"
              src="./img/devices/ipad_album.png"
              alt="ipad_album"
              v-show="videoScreenSize === 'planshet_album'"
            />
            <img
              class="side_img"
              src="./img/devices/ipad_book.png"
              alt="ipad_album"
              v-show="videoScreenSize === 'planshet_book'"
            />
            <img
              class="side_img"
              src="./img/devices/iphone_album.png"
              alt="ipad_album"
              v-show="videoScreenSize === 'mobile_album'"
            />
            <img
              class="side_img"
              src="./img/devices/iphone_book.png"
              alt="ipad_album"
              v-show="videoScreenSize === 'mobile_book'"
            />
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_album'"
              class="video-planshet_album"
            >
              <source
                src="./files/technologies/general/planshet_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'planshet_book'"
              class="video-planshet_book"
            >
              <source
                src="./files/technologies/general/planshet_book/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_album'"
              class="video-mobile_album"
            >
              <source
                src="./files/technologies/general/mobile_album/mobile0001-2000.mp4"
              />
            </video>
            <video
              autoplay
              loop
              muted
              v-show="videoScreenSize === 'mobile_book'"
              class="video-mobile_book"
            >
              <source
                src="./files/technologies/general/mobile_book/mobile0001-2000.mp4"
              />
            </video>
            <div
              class="main_red-block-clone__tab"
              :class="{tab_active: tab_active}"
            >
              <div class="main_red-block__img--tabs-item-header">
                Цифровые двойники <br />
                площадок
                <div
                  class="main_red-block-clone__close"
                  @click="tab_active = false"
                ></div>
              </div>
              <ul class="main_red-block__img--tabs-item-body">
                <li>
                  <span></span>
                  <p>
                    Поддержка «What-If» сценариев для анализа необходимой
                    площади объекта, количества и типа оборудования и систем
                    хранения
                  </p>
                </li>
                <li>
                  <span></span>
                  <p>
                    Выбор оптимальных решений по прибыли, времени и ресурсам
                  </p>
                </li>
                <li>
                  <span></span>
                  <p>Визуализация гипотез</p>
                </li>
                <li>
                  <span></span>
                  <p>
                    Детальное воссоздание процессов и объектов склада в 3D и 2D
                  </p>
                </li>
                <li>
                  <span></span>
                  <p>
                    Поиск «узких мест» — выявление критичных зон, неэффективных
                    процессов и предложения по решению существующих проблем
                  </p>
                </li>
              </ul>
            </div>
            <div
              class="main_red-block-clone__close tab_open"
              @click="tab_active = !tab_active"
              v-if="!tab_active"
            >
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_1950_1518)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.6456 9.08232C11.8702 8.97748 11.9827 8.80639 11.9843 8.56709C11.9851 8.45532 11.9715 8.38667 11.9333 8.30928C11.893 8.22753 11.2641 7.619 9.13568 5.60225C7.6256 4.17139 6.34833 2.97221 6.2973 2.9374C6.12832 2.82216 5.86596 2.82216 5.69697 2.9374C5.64595 2.97221 4.36868 4.17139 2.8586 5.60225C0.730192 7.619 0.101294 8.22753 0.060934 8.30928C-0.00958922 8.45211 -0.00942518 8.68044 0.061286 8.81541C0.210466 9.10018 0.576302 9.21181 0.843395 9.05408C0.894794 9.02372 2.07206 7.9235 3.45956 6.60917C4.84704 5.29482 5.98896 4.21943 5.99714 4.21943C6.00532 4.21943 7.14724 5.29482 8.53472 6.60917C9.92222 7.9235 11.1004 9.02426 11.1529 9.05527C11.2898 9.13611 11.505 9.14792 11.6456 9.08232Z"
                    fill="white"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1950_1518">
                    <rect
                      width="12"
                      height="12"
                      fill="white"
                      transform="translate(0 12) rotate(-90)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <img src="./img/svg/main-red__arrow.svg" alt="red__arrow" />
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <img src="./img/svg/main-red__arrow.svg" alt="red__arrow" />
      </button>
    </div>
  </div>
</div>
