body {
    box-sizing: border-box;
}
*,::after,::before {
    box-sizing: inherit;
    outline: none;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.center-block {
    max-width: 1800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
// button
.button {
    font-family: 'texgyreheros', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: vw(20);
    line-height: 110%;
    color: #FFFFFF;
    cursor: pointer;
    background: #1400DC;
    padding: vw(17) vw(5);
    border: 2px solid #1400DC;
    transition: all .3s ease-out;
    text-align: center;
    &:hover {
        background: #fff;
        color: #1400DC;
    }
    &__feedback {
        max-width: vw(206);
        width: 100%;
    }
}
// button end
// checkbox
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    & + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        position: relative; 
        cursor: pointer;
        font-family: 'PT', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: vw(18);
        line-height: 130%;
        color: #535353;
        &:before {
            content: '';
            display: inline-block;
            width: vw(25);
            height: vw(25);
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #CFCFCF;
            margin-right: vw(20);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
    }
    &:checked {
        & + label {
            &:before {
                background: #fff;
            }
            &:after {
                position: absolute;
                content: '';
                width: vw(15);
                height: vw(15);
                background: #1400DC;
                top: 50%;
                left: vw(5);
                margin-top: vw(-7.5);
            }
        }
    }
}
// checkbox end