body {
    box-sizing: border-box;
}
*,::after,::before {
    box-sizing: inherit;
    outline: none;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.center-block {
    max-width: 1800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
// checkbox
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    & + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        position: relative; 
        cursor: pointer;
        font-family: 'PT', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: vw(18);
        line-height: 130%;
        color: #535353;
        &:before {
            content: '';
            display: inline-block;
            width: vw(25);
            height: vw(25);
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #CFCFCF;
            margin-right: vw(20);
        }
    }
    &:checked {
        & + label {
            &:before {
                background: #fff;
            }
            &:after {
                position: absolute;
                content: '';
                width: vw(15);
                height: vw(15);
                background: #1400DC;
                top: 50%;
                left: vw(5);
                margin-top: vw(-7.5);
            }
        }
    }
}
.isTablet, .isMobile {
    .custom-checkbox {
        & + label {
            &:before {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
        &:checked {
            & + label {
                &:after {
                    width: 12px;
                    height: 12px;
                    left: 4px;
                    margin-top: -6px;
                }
            }
        }
    }
}
// checkbox end
// scrollbar
/* width */
::-webkit-scrollbar {
    width: vw(10);
}

/* Track */
::-webkit-scrollbar-track {
    background: #EEEEEE;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1400DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1400DC;
}
// scrollbar end