body {
    box-sizing: border-box;
}
*,::after,::before {
    box-sizing: inherit;
    outline: none;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.center-block {
    max-width: 1800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
textarea {
    resize: none;
}
// scrollbar
/* width */
::-webkit-scrollbar {
    width: vw(10);
}

/* Track */
::-webkit-scrollbar-track {
    background: #EEEEEE;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1400DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1400DC;
}
// scrollbar end
// glidejs

.glide {
    &__bullets {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: vw(30);
        padding-right: vw(30);
        transform: unset;
        bottom: unset;
        height: vw(30);
    }
    &__bullet {
        width: vw(10);
        height: vw(10);
        border-radius: 0;
        background: #1400DC !important;
        opacity: 0.2;
        transition: all .3s ease-out;
        margin: 0 vw(10);
        &--active {
            opacity: 1;
        }
    }
    &__controls {
        display: flex;
        width: 100%;
        justify-content: space-between;
        div {
            width: vw(30);
            height: vw(30);
            position: relative;
            z-index: 2;
            background: #fff url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2286 14.7668L19.5318 15.4668L7.22168 27.6986L8.51805 29.001L22.7781 14.6746L9.16624 0.999332L7.86987 2.30174L19.5318 14.0668L20.2286 14.7668Z' fill='%231400DC'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            opacity: .2;
            transition: all .3s ease-out;
            &:nth-child(1) {
                transform: rotate(180deg);
            }
            &:hover, &:active {
                opacity: 1;
            }
        }
    }
}
.isTablet, .isMobile {
    .glide {
        &__controls {
            div {
                width: 30px;
                height: 30px;
            }
        }
        &__bullets {
            height: 30px;
            margin-left: auto;
            margin-right: auto;
        }
        &__bullet {
            margin-left: 10px;
            margin-right: 10px;
            width: 5px;
            height: 5px;
        }
    }
}
.isMobile {
    .glide {
        &__controls {
            width: 205px;
        }
        &__bullets {
            width: 205px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
// glidejs end