.case_page {
    padding-left: vw(60);
    padding-right: vw(60);
    padding-top: vw(35);
    &__blocks {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__l-side {
        max-width: calc(50% - 20px);
        width: 100%;
    }
    &__r-side {
        max-width: calc(50% - 20px);
        width: 100%;
        .tabs {
            display: none;
        }
    }
    &__date {
        padding-left: vw(30);
        position: relative;
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: vw(25);
        line-height: 150%;
        color: #000000;
        margin-bottom: vw(20);
        &:before {
            position: absolute;
            content: '';
            width: vw(10);
            height: vw(10);
            margin-top: vw(-5);
            background: #1400DC;
            left: 0;
            top: 50%;
        }
    }
    &__h1 {
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: vw(35);
        line-height: 140%;
        color: #000000;
        margin-bottom: vw(30);
    }
    &__text {
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: vw(25);
        line-height: 120%;
        color: #000000;
        margin-bottom: vw(50);
        span {
            margin-top: vw(10);
            display: block;
            font-family: 'PT', Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: vw(18);
            line-height: 150%;
            color: #535353;
        }
    }
    &__tabs {
        padding-top: vw(50);
        border-top: 1px solid #CFCFCF;
    }
    &__tab {
        padding: vw(60);
        &:not(:last-child) {
            margin-bottom: vw(40);
        }
        &--problem {
            background: #EEEEEE;
        }
        &--title {
            font-family: 'texgyreheros', Helvetica, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: vw(25);
            line-height: 120%;
            color: #000000;
            margin-bottom: vw(20);
        }
        &--text {
            font-family: 'PT', Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: vw(18);
            line-height: 150%;
            color: #535353;
            ul {
                list-style: disc;
                padding-left: vw(20);
                li {
                    margin-bottom: vw(5);
                }
            }
        }
        &--decision {
            background: #1400DC;
            margin-bottom: 0 !important;
            .case_page__tab--title, .case_page__tab--text {
                color: #fff;
            }
        }
        &--tit {
            margin-top: vw(40);
            font-family: 'texgyreheros', Helvetica, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: vw(25);
            line-height: 120%;
            color: #000000;
            margin-bottom: vw(30);
        }
        &--list {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: vw(20);
            }
        }
        &--img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &--txt {
            font-family: 'PT', Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: vw(18);
            line-height: 150%;
            color: #535353;
            span {
                font-weight: 700;
            }
        }
    }
    .glide {
        &__slide {
            &--img {
                min-height: vw(700);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &__bullets {
            width: vw(250);
            margin-left: auto;
            margin-right: auto;
        }
        &__controls {
            width: vw(250);
        }
    }
    &__controls {
        margin-top: vw(60);
        width: vw(250);
        margin-left: auto;
        margin-right: auto;
    }
    &__slider {
        position: sticky;
        top: 10px;
    }
}
.isTablet, .isMobile {
    .case_page {
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 15px;
        margin-right: 15px;
        border-top: 1px solid #CFCFCF;
        &__blocks {
            flex-direction: column;
        }
        &__l-side {
            max-width: 100%;
            margin-bottom: 20px;
        }
        &__r-side {
            max-width: 100%;
            .tabs {
                display: block;
                overflow: auto;
                margin-bottom: 15px;
                padding-bottom: 15px;
                width: calc(100% + 15px);
                margin-right: -15px;
                &__in {
                    width: max-content;
                    display: flex;
                }
                &__tab {
                    border: 2px solid #CFCFCF;
                    text-decoration: none;
                    text-align: center;
                    font-family: 'texgyreheros', Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 110%;
                    color: #000000;
                    padding: 15px;
                    cursor: pointer;
                    margin-right: 10px;
                }
            }
        }
        &__controls {
            margin-top: 20px;
            width: 205px;
        }
        .glide {
            &__slide {
                &--img {
                    min-height: 278px;
                }
            }
            &__bullets {
                width: 205px;
            }
            &__controls {
                width: 205px;
            }
        }
        &__date {
            margin-bottom: 20px;
            padding-left: 17px;
            font-size: 14px;
            &:before {
                width: 5px;
                height: 5px;
                margin-top: -2.5px;
            }
        }
        &__h1 {
            margin-bottom: 30px;
            font-size: 20px;
        }
        &__text {   
            font-size: 16px;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #CFCFCF;
            span {
                margin-top: 10px;
                font-size: 16px;
            }
        }
        &__tabs {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
            border-top: 0;
        }
        &__tab {
            padding: 20px 15px;
            margin-bottom: 30px;
            &--title {
                font-size: 16px;
                margin-bottom: 10px;
            }
            &--text {
                font-size: 16px;
                ul {
                    padding-left: 25px;
                }
            }
            &--tit {
                font-size: 16px;
                margin-bottom: 30px;
                margin-top: 30px;
            }
            &--list {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
            &--img {
                flex: 0 0 50px;
            }
            &--txt {
                font-size: 16px;
            }
        }
    }
}