@import "header/header";
@import "main_first/main_first";
@import "main_numbers/main_numbers";
@import "main_video/main_video";
@import "main_red-block/main_red-block";
@import "main_projects/main_projects";
@import "main_news/main_news";
@import "main_terminal/main_terminal";
@import "main_form/main_form";
@import "footer/footer";
@import "page_cases/page_cases";
@import "page_404/page_404";
@import "text_page/text_page";
@import "modals/modals";