.page_cases {
    padding-left: vw(60);
    padding-right: vw(60);
    padding-top: vw(35);
    .wrapper__h1 {
        max-width: 100%;
        margin-bottom: vw(100);
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__block {
        width: calc(25% - #{vw(30)});
        margin-bottom: vw(40);
        max-height: vw(700);
        min-height: vw(700);
        position: relative;
        text-decoration: none;
        padding: vw(115) vw(50);
        .page_cases__title {
            font-size: vw(20);
        }
        &:nth-child(1), &:nth-child(6), &:nth-child(7) {
            width: calc(50% - #{vw(20)});
            padding: vw(115) vw(80);
            .page_cases__title {
                font-size: vw(35);
            }
        }
    }
    &__img {
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(0deg, rgba(20, 0, 220, 0.2), rgba(20, 0, 220, 0.2));
        }
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: #FF5F05;
            position: absolute;
            z-index: 2;
            opacity: 0;
            transition: all .3s ease-out;
            pointer-events: none;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
    &__info {
        position: relative;
        z-index: 2;
        pointer-events: none;
    }
    &__date {
        position: relative;
        padding-left: vw(30);
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: vw(25);
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: vw(20);
        &:before {
            top: 50%;
            left: 0;
            width: vw(10);
            height: vw(10);
            background: #fff;
            position: absolute;
            content: '';
            margin-top: vw(-5);
        }
    }
    &__title {
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        color: #FFFFFF;
    }
    &__controls {
        width: vw(250);
        margin-left: auto;
    }
    .glide__bullets {
        width: vw(250);
        margin-left: auto;
    }
    &__more {
        background: none;
        padding: 0;
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 110%;
        color: #000000;
        position: relative;
        width: max-content;
        padding-right: 40px;
        outline: none;
        cursor: pointer;
        border: 0;
        display: none;
        span {
            position: absolute;
            width: 30px;
            height: 30px;
            right: 0;
            top: 50%;
            margin-top: -15px;
            &:before {
                position: absolute;
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2287 14.7668L19.5319 15.4669L7.2218 27.6986L8.51817 29.001L22.7783 14.6746L9.16636 0.999338L7.86999 2.30174L19.5319 14.0668L20.2287 14.7668Z' fill='%231400DC'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                width: 30px;
                height: 30px;
                right: 0;
                top: 50%;
                margin-top: -15px;
                transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
                z-index: 2;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: #1400DC;
                z-index: 1;
                transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
                transform: scale(0.01);
            }
        }
        &:hover {
            span {
                &:after {
                    transform: scale(1);
                }
                &:before {
                    transform: scale(0.5);
                    background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2287 14.7668L19.5319 15.4669L7.2218 27.6986L8.51817 29.001L22.7783 14.6746L9.16636 0.999338L7.86999 2.30174L19.5319 14.0668L20.2287 14.7668Z' fill='%23fff'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                }
            }
        }
    }
}
.isTablet, .isMobile {
    .page_cases {
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 15px;
        margin-right: 15px;
        border-top: 1px solid #CFCFCF;
        &__controls {
            display: none;
        }
        &__block {
            width: 100%;
            min-height: 220px;
            max-height: unset;
            padding: 20px;
            margin-bottom: 20px;
        }
        &__date {
            font-size: 14px;
            padding-left: 15px;
            margin-bottom: 10px;
            &:before {
                width: 5px;
                height: 5px;
                mask-type: -2.5px;
            }
        }
        &__title {
            font-size: 20px !important;
        }
        &__more {
            display: block;
            margin-bottom: 50px;
            margin-top: 15px;
        }
    }
}