.main_value {
    margin: vw(80) vw(60) vw(100) vw(60);
    &__title {
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: vw(60);
        line-height: 120%;
        color: #000000;
        max-width: vw(395);
        width: 100%;
        margin-bottom: vw(100);
    }
    &__blocks {
        display: flex;
        justify-content: space-between;
    }
    &__l-side {
        flex: 0 0 vw(600);
        padding-top: vw(100);
        padding-right: vw(90);
        border-top: 1px solid #CFCFCF;
        border-right: 1px solid #CFCFCF;
        border-bottom: 1px solid #CFCFCF;
        &--in {
            position: sticky;
            top: vw(140);
        }
        &--title {
            margin-bottom: vw(30);
            font-family: 'texgyreheros', Helvetica, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: vw(40);
            line-height: 120%;
            color: #000000;
        }
    }
    &__scheme {
        display: flex;
        justify-content: space-between;
        &--block {
            width: calc(33% - 15px);
        }
        &--title {
            font-family: 'PT', Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: vw(18);
            line-height: 120%;
            color: #535353;
            margin-bottom: vw(25);
        }
        &--scale {
            min-height: vw(600);
            max-height: vw(600);
            background: #FAFAFA;
            border: 1px solid #CFCFCF;
            position: relative;
        }
        &--progress {
            position: absolute;
            background: #969696;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            transition: height 0.2s ease;
            span {
                top: 0;
                left: 0;
                right: 0;
                position: absolute;
                font-family: 'texgyreheros', Helvetica, sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: vw(40);
                line-height: 100%;
                text-transform: uppercase;
                color: #FFFFFF;
                padding: vw(17) vw(5);
                background: #FF5F05;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__r-side {
        width: 100%;
        border-right: 1px solid #CFCFCF;
        border-bottom: 1px solid #CFCFCF;
        border-top: 1px solid #CFCFCF;
        display: flex;
        flex-direction: column;
    }
    &__tit {
        font-family: 'texgyreheros', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: vw(25);
        line-height: 140%;
        color: #000000;
        margin-bottom: vw(20);
    }
    &__text {
        margin-bottom: vw(40);
        font-family: 'PT', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: vw(18);
        line-height: 150%;
        color: #535353;
    }
    .button {
        max-width: 217px;
        display: block;
        width: 100%;
    }
    &__block {
        padding: vw(100);
        display: flex;
        align-items: flex-start;
        transition: all .3s ease-out;
        &:not(:first-child) {
            border-bottom: 1px solid #CFCFCF;
        }
        &--l {
            flex: 0 0 vw(200);
            margin-right: vw(60);
            width: vw(200);
            height: vw(200);
            background: #28AFF0;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: vw(110);
                width: 100%;
            }
        }
        &--r {
            width: 100%;
        }
        &:hover {
            background: #F9F9F9;
            & ~ .main_value__block {
                background: #F9F9F9;
            }
        }
        &:nth-child(1) {
            order: 3;
        }
        &:nth-child(2) {
            order: 2;
        }
        &:nth-child(1) {
            order: 3;
        }
    }
}
.isTablet, .isMobile {
    .main_value {
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 0;
        &__title {
            font-size: 30px;
            margin-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 230px;
        }
        &__blocks {
            flex-direction: column;
        }
        &__l-side {
            flex: none;
            max-width: 100%;
            padding: 30px 15px;
            &--title {
                margin: 0;
                font-size: 25px;
            }
            border-bottom: 0;
        }
        &__scheme {
            display: none;
        }
        &__block {
            padding: 30px 15px;
            flex-direction: column;
            position: relative;
            &--l {
                width: 120px;
                height: 120px;
                margin-right: 30px;
                margin-bottom: 30px;
                flex: none;
                img {
                    max-width: 66px;
                }
            }
        }
        &__tit {
            position: absolute;
            height: 120px;
            display: flex;
            align-items: center;
            width: calc(100% - 165px);
            right: 15px;
            top: 30px;
            font-size: 20px;
            word-wrap: break-word;
        }
        &__text {
            margin-bottom: 30px;
            font-size: 16px;    
        }
    }
}